@import url("./root.css");

::-webkit-scrollbar {
  display: none;
}

.left-0 {
  left: 0;
}

/*----------------------------------------------------------- All Flex Classes ---------------------------------------------------------*/
.gap-14 {
  gap: 14px;
}

.gap-18 {
  gap: 18px;
}

.gap-30 {
  gap: 30px;
}
/*----------------------------------------------------------- All Padding Classes ------------------------------------------------------*/

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-12 {
  padding-top: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.pt-20 {
  padding-top: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.pt-77 {
  padding-top: 77px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-129 {
  padding-bottom: 129px;
}

.my-partner {
  margin-top: 120px;
  margin-bottom: 80px;
}

.pb-180 {
  padding-bottom: 180px;
}

.ul {
  padding: 0;
}
/*----------------------------------------------------------- All Margin Classes -------------------------------------------------------*/
h2 {
  margin: 0;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-88 {
  margin-top: 88px;
}

.mb-60 {
  margin-bottom: 60px;
}

/*----------------------------------------------------------- All Width Classes --------------------------------------------------------*/

.max-w-580 {
  max-width: 580px;
}

.max-w-602 {
  max-width: 602px;
}

/*----------------------------------------------------------- All Html Classes Or Id ---------------------------------------------------*/

/*----------------------------------------------------------- Header -------------------------------------------------------------------*/
.header {
  background-image: url(../images/png/Hero-Bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.commen-btn {
  width: 170px;
  height: 56px;
  border: none;
  outline: none;
  border-radius: 56px;
}

.commen-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 56px;
  padding: 3px;
  background: var(--btn-gradient);
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.navbar {
  border-radius: 107px;
  border: 1px solid var(--border-color);
}

.pause-svg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.learn-btn {
  outline: none;
  border: none;
  width: 170px;
  height: 56px;
  background: transparent;
  border-radius: 50%;
}

.header-btm {
  bottom: 0;
  left: 0;
}

.z-1 {
  z-index: 1;
}

/*----------------------------------------------------------- coins ---------------------------------------------------------------*/

.section1 {
  background-image: url(../images/png/section1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coin-image {
  max-width: 594px;
}

/*----------------------------------------------------------- timeline ---------------------------------------------------------------*/

body {
  background-color: #010000;
}

.timeline_boxes {
  position: relative;
}

.timeline_boxes {
  max-width: 578px;
  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(
      180deg,
      rgba(37, 37, 203, 0) 0%,
      rgba(37, 37, 203, 0.24) 100%
    );
  padding: 24px;
}

.timeline_boxes::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 3px;
  background: linear-gradient(0deg, #212181, #212181),
    linear-gradient(
      92.76deg,
      rgba(241, 22, 64, 0.5) 0.29%,
      rgba(74, 18, 204, 0.5) 64.44%
    );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.image_wh_box {
  width: 160px;
  height: 160px;
  padding: 20px;
  background: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 96.63px;
  z-index: 6;
  position: relative;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #ed8d8d;
  color: #4d4545;
  max-height: 50px;
  z-index: 2;
  display: none;
}

.how-it-works.row {
  display: flex;
}

.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ed8d8d;
  z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
  display: none;
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 88px;
}

hr {
  opacity: 1;
}

.wh_changes_timeline_img {
  width: 100px;
  height: 100px;
}

.timeline hr {
  border-top: 3px dashed #fff;
  margin: 0;
  top: 41px;
  position: relative;
}

.timeline .col-2 {
  display: flex;
  overflow: hidden;
}

.timeline .corner {
  border: 3px dashed #fff;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right {
  left: 50%;
  top: -50%;
}

.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left {
  left: -50%;
  top: -50%;
}

.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.how-it-works.row .col-2.bottom::after,
.how-it-works.row .col-2.top::after {
  display: none;
}

/*-----------------------------------------------------------  Roadmap ---------------------------------------------------------------*/

.common-road {
  max-width: 237px;
}

.common-rd-svg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #4a15c3;
}

.card-p {
  color: #b6afb6;
}

.roadmap-image {
  right: 0;
  bottom: 0;
  max-width: 1160px;
}

/*----------------------------------------------------------- Tokenomics ---------------------------------------------------------------*/

.sec4-image {
  max-width: 520px;
}

.main-sale-txt {
  max-width: 285px;
}

.token-card {
  padding: 44px;
  border-radius: 16px;
  background-color: #21218126;
}

.token-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 3px;
  background: linear-gradient(
    92.76deg,
    rgba(241, 22, 64, 0.5) 0.29%,
    rgba(74, 18, 204, 0.5) 64.44%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/*----------------------------------------------------------- Partners ---------------------------------------------------------------*/
.partners-image {
  position: relative;
  height: 80px;
  padding: 12px 40px;
  border-radius: 6px;
  background-color: #5e5e5e26;
}

.partners-image::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 6px;
  padding: 3px;
  background: linear-gradient(
    92.76deg,
    rgba(241, 22, 64, 0.5) 0.29%,
    rgba(74, 18, 204, 0.5) 64.44%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/*----------------------------------------------------------- Section 6 ---------------------------------------------------------------*/

.section6 {
  background-image: url(../images/png/section-6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sec6-top {
  top: 0;
  left: 0;
}

.sec6-bottom {
  bottom: 0;
  left: 0;
}

/*----------------------------------------------------------- Section 7 ---------------------------------------------------------------*/
.sec7-card {
  background: linear-gradient(
    180deg,
    rgba(241, 22, 64, 0.24) 0%,
    rgba(33, 33, 129, 0.19) 64.12%,
    rgba(33, 33, 129, 0.18) 100%
  );
  box-shadow: 0px 2px 34.3px 4px #18539847;
  padding: 20px;
  border-radius: 25px;
}

.sec7-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  padding: 4px;
  background: linear-gradient(
    92.76deg,
    rgba(241, 22, 64, 0.5) 0.29%,
    rgba(74, 18, 204, 0.5) 64.44%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.launch-btn {
  background-color: transparent;
}

.sec7-right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sec7-col6 {
  max-width: 480px;
}

/*----------------------------------------------------------- Footer ---------------------------------------------------------------*/

.footer {
  background-image: url("../images/png/Footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-p {
  margin: 0;
  color: #b5b6b7;
  max-width: 321px;
}

.commen-icons {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff0d;
  border: 0.78px solid #ffffff;
}

.sub-footer {
  color: #b4b3b4;
  border-top: 1px solid #ffffff;
}

@media (min-width: 1200px) {
  .roadmap-box {
    max-width: 530px;
  }

  .mt-xl-56 {
    margin-top: 56px;
  }
}

@media (min-width: 992px) {
  .coin-image {
    width: 100%;
  }

  .section1 {
    background-size: 100% 100%;
  }

  .max-w-490 {
    max-width: 490px;
  }

  .mt-lg-40 {
    margin-top: 40px;
  }

  .py-lg-145 {
    padding-top: 145px !important;
    padding-bottom: 145px !important;
  }

  .py-lg-120 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }

  .pt-lg-100 {
    padding-top: 100px !important;
  }

  .pb-lg-180 {
    padding-bottom: 180px !important;
  }
  .partners-image {
    max-width: 220px;
  }

  .mt-lg-40 {
    margin-top: 40px !important;
  }

  .max-w-486 {
    max-width: 486px;
  }

  .py-lg-175 {
    padding-top: 175px;
    padding-bottom: 175px;
  }

  .max-w-462 {
    max-width: 462px;
  }

  .sec7-card {
    padding: 60px;
  }

  .mt-lg-128 {
    margin-top: 128px;
  }

  .mt-lg-98 {
    margin-top: 98px;
  }

  .mb-lg-180 {
    margin-bottom: 180px;
  }

  .mt-lg-78 {
    margin-top: 78px;
  }

  .pb-lg-100 {
    padding-bottom: 100px;
  }

  .py-lg-120 {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .pb-lg-80{
    padding-bottom: 80px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
  .section1 {
    background-position: left;
  }

  .py-sm-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 1200px) {
  .roadmap-image {
    opacity: 20%;
  }
}

@media (max-width: 992px) {
  /* navbar code */

  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 5;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--btn-bg);
  }

  #bar2 {
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .navbar-items {
    position: fixed;
    top: 0;
    left: -100%;
    height: 102vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("../images/png/Hero-Bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 3;
  }

  .show {
    left: 0;
  }

  .token-card {
    max-width: 768px;
  }

  .sec6-img {
    max-width: 660px;
  }

  .sec7-right {
    opacity: 20%;
  }
}

@media (max-width: 768px) {
  .wh_changes_timeline_img {
    width: 60px;
    height: 60px;
  }

  .image_wh_box {
    width: 96px;
    height: 96px;
    background: #595555;
  }

  .border-timeline {
    height: 86%;
    border: 2px dotted white;
    top: 45%;
    transform: translateY(-50%);
    left: 47px;
  }
}

@media (max-width: 576px) {
  .px-sm-6 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .py-sm-five {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .image_wh_box {
    width: 62px;
    height: 62px;
  }

  .border-timeline {
    height: 83%;
    border: 2px dotted white;
    top: 44%;
    transform: translateY(-50%);
    left: 30px;
  }

  .wh_changes_timeline_img {
    width: 33px;
    height: 33px;
  }

  .token-card {
    padding: 12px;
  }

  .gap-14 {
    gap: 8px;
  }

  .paddingTop-0 {
    padding-top: 0 !important;
  }
}
